@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("var.css");

html,
body,
header,
footer {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--color-light-gray);
}

a {
  text-decoration: none;
  color: var(--color-gray);
}

* {
  box-sizing: border-box;
}
