:root {
  --color-white: #ffffff;
  --color-black: #1d1c1c;
  --color-gray: #6a6969;
  --color-light-gray: #bcbbbb;
  --color-pearl-white: #f8f8f8;
  --color-orange: #fdce29;
  --color-light-blue: #298bfd;
  --color-light-red: #ff6363;
  --color-light-green: #5ddd48;
}
